<html>
	<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
	
			<div class="jumbotron mb-0">
				<h1 class="display-4">Novo Pedidos</h1>
			</div>
			<form action="/pedido/novo" method="POST">
				<div>
					<label for="nomeProduto">Produto</label>
					<input name="nomeProduto" placeholder="Nome do produto" />
					<small>Informe qual o nome do produto.</small>
				</div>
				<div>
					<label for="urlProduto">Url</label>
					<input name="urlProduto" placeholder="Url do produto" />
					<small>Procure em um site o produto que deseja e cole a url da página aqui.</small>
				</div>
				<div>
					<label for="urlImagem">Imagem</label>
					<input name="urlImagem" placeholder="Url da imagem" />
					<small>Copie a url de uma boa imagem do produto e cole aqui pra ajudar a conseguir compradores.</small>
				</div>
				<div>
					<label for="descricao">Descrição</label>
					<textarea name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
				</div>
				<button type="submit">Cadastrar</button> 
			</form>
		</div>
	</body>
</html>