<html>
<head>
<meta charset="UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="card" th:each="pedido : ${pedidos}">
			<div class="card-header" th:text="${pedido.nomeProduto}">Nome
				do produto</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-4">
								Valor: <span th:text="${pedido.valorNegociado}">200,99</span>
							</div>
							<div class="col-md-8">
								Data da entrega: <span th:text="${pedido.dataEntrega}">10/02/2020</span>
							</div>
						</div>

						<div>Produto</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProduto}"
								value="url do produto" />
						</div>

						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}">descrição do produto</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>